<form method="post" action="{{ path('app_item_delete', {'id': item.idItem}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.idItem) }}">
    <button class="btn">Supprimer</button>
</form>